body
{
    background-image: url(../Imagenes/ImagenLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x:scroll;
    overflow-y:hidden;
}

.ContenedorCentral
{
    margin-top: 100px;
    width: 100%;
    height: auto;
}
.ContenedorCentral .ContenedorIndex
{
    width: 90%;
    border-radius: 30px;
    background-color: #E2E2E2;
}
.ContenedorCentral .ContenedorIndex .ContenedorLogoOperacion
{
    margin-top: -75px;
    margin-bottom: 35px;
    width: 150px;
    height: 150px;
}
.ContenedorCentral .ContenedorIndex .ContenedorLogoOperacion img
{
    width: 90%;
    height: 90%;
    border-radius: 25px;
    border-style:groove;
    border-width: 4px;
}

.ContenedorCentral .ContenedorIndex .ContenedorLogoUni
{
    margin-top: -75px;
    margin-bottom: 35px;
    margin-left: 15px;
    width: 200px;
    height: 200px;
}


.ContenedorCentral .ContenedorIndex .ContenedorLogoUni img
{
    width: 90%;
    height: 90%;
    border-radius: 25px;
    border-style:groove;
    border-width: 4px;
}

.ContenedorCentral .ContenedorIndex .InformacionFuncionalidad
{
    margin: 40px;
}
/* Pestañas */
    * {
        box-sizing: border-box;
    }
  
    #tabsDiv {
        height: 300px;
        border: 2px solid #c0c0c0;
    }
  
    #tabsDiv ul {
        height: 300px;
        padding: 0px 5px;
    }
  
    #tabsDiv li {
        width: 15%;
        height: 60px;
    }
  
    #tabsDiv button {
        float: left;
        border: 1px solid #c0c0c0;
        background-color: #f1f0f4;
    }
  
    /* Button to open the content */
    #tabsDiv button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 15px 15px;
        width: 100%;
        text-align: left;
        cursor: pointer;
    }
  
    /* Button styling on mouse hover */
    #tabsDiv button:hover {
        background-color: #d1d1d1;
        color: lime;
    }
  
    #tabsDiv button.active {
        background-color: #c0c0c0;
    }
  
    /* Content for tabs*/
    .contentClass {
        display: none;
        position: absolute;
        left: 20%;
        padding: 0px 15px;
        width: 70%;
        border-style: none;
        height: 300px;
    }

